# Docker Compose configuration
POSTGRES_USER=<user name>
POSTGRES_PASSWORD=<replace-with-a-local-database-password>
POSTGRES_DB=<postgres db name>
POSTGRES_PORT=5433
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=<replace-with-a-local-pgadmin-password>
PGADMIN_PORT=5050
